<%= provide(:title, "Home") %>
<%= render :partial => 'shared/carousel' %>
<div class="sections">
  <section>
    <%= render :partial => 'shared/about' %>
  </section>
  <section>
    <%= render :partial => 'shared/advocacy' %>
  </section>
  <section>
    <%= render :partial => 'shared/brands' %>
  </section>
</div>
